@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  overflow: hidden;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.logo {
  width: 140px;
}
header {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 5px;
}

.cabeçalho-link {
  display: flex;
  gap: 100px;
  font-weight: 500;
  cursor: pointer;
}

.cabeçalho-link a {
  color: #fff;
  font-size: 26px;
}

.cabeçalho-link a:hover {
  color: #27789e;
  transition: 0.3s all;
}

button {
  color: #fff;
  background: #27789e;
  border: solid 2px #27789e;
  padding: 5px;
  border-radius: 30px;
  font-size: 30px;
  cursor: pointer;
  width: 180px;
  cursor: pointer;
}

button:hover {
  background-color: #04415d;
  color: #fff;
  transition: 0.5s;
}

.btn {
  color: #27789e;
  background: transparent;
  border: solid 5px #27789e;
  padding: 5px;
  border-radius: 30px;
  font-size: 30px;
  cursor: pointer;
  width: 180px;
  cursor: pointer;
}

.container-text {
  width: auto;
  padding: 250px 0px 0px 60px;
}

.text h3 {
  color: #fff;
  font-size: 30px;
}

.text h1 {
  color: #fff;
  font-size: 50px;
  margin-top: 4px;
}

.text span {
  color: #27789e;
}

.text p {
  color: #fff;
  font-size: 23px;
  margin-top: 5px;
}

.redes-social {
  margin-top: 18px;
  margin-left: 90px;
  cursor: pointer;
}

.redes-social a {
  color: #27789e;
  font-size: 25px;
  padding: 15px;
  margin-top: 5px;
}

.btn {
  margin-top: 40px;
  margin-left: 140px;
}

@media screen and (max-width: 600px) {
  .cabeçalho-link {
    display: none;
  }
}
.foto {
  width: 480px;
  margin-top: -450px;
  margin-left: 750px;
}
